[submodule "proxmox-agent"]
	path = proxmox-agent
	url = git@github.com:festion/proxmox-agent.git
[submodule "homelab-gitops"]
	path = homelab-gitops
	url = git@github.com:festion/homelab-gitops.git
[submodule "operations"]
	path = operations
	url = git@github.com:festion/operations.git
